n8n/workflows/overseerr-request-notifier.json
{
  "name": "Overseerr Request Notifier",
  "description": "Monitors Overseerr for new media requests. Sends Discord notification with request details.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "d0a0a003-0003-4003-a003-000000000001",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const globals = $('Globals').first().json;\n// Get pending requests from Overseerr\nlet requests;\ntry {\n  requests = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${globals.OVERSEERR_URL}/api/v1/request?take=20&filter=pending&sort=added`,\n    headers: { 'X-Api-Key': globals.OVERSEERR_API_KEY },\n    timeout: 15000\n  });\n} catch (err) {\n  return [{ json: { hasNew: false, error: err.message } }];\n}\n\nconst pending = requests.results || [];\n\nif (pending.length === 0) {\n  return [{ json: { hasNew: false } }];\n}\n\n// Get previously seen IDs from workflow static data\nconst staticData = $getWorkflowStaticData('global');\nconst seenIds = staticData.seenRequestIds || [];\n\n// Find new requests\nconst newRequests = pending.filter(r => !seenIds.includes(r.id));\n\nif (newRequests.length === 0) {\n  return [{ json: { hasNew: false } }];\n}\n\n// Update seen IDs (keep last 100)\nconst allIds = [...seenIds, ...newRequests.map(r => r.id)];\nstaticData.seenRequestIds = allIds.slice(-100);\n\n// Format notification\nconst items = newRequests.map(r => {\n  const type = r.type === 'movie' ? '\ud83c\udfac' : '\ud83d\udcfa';\n  const title = r.media?.title || r.media?.name || 'Unknown';\n  const user = r.requestedBy?.displayName || r.requestedBy?.email || 'Unknown user';\n  return `${type} ${title} (requested by ${user})`;\n});\n\nreturn [{\n  json: {\n    hasNew: true,\n    count: newRequests.length,\n    title: `\ud83d\udccb ${newRequests.length} New Overseerr Request(s)`,\n    message: items.join('\\n'),\n    priority: 5\n  }\n}];"
      },
      "id": "d0a0a003-0003-4003-a003-000000000002",
      "name": "Check Pending Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-overseerr-001",
              "leftValue": "={{ $json.hasNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0a0a003-0003-4003-a003-000000000003",
      "name": "New Requests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "resource": "webhook",
        "operation": "sendLegacy",
        "content": "",
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={{ JSON.stringify({ title: $json.title, description: $json.message, color: ($json.priority || 3) >= 7 ? 15158332 : ($json.priority || 3) >= 5 ? 16776960 : 3066993, timestamp: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a0a003-0003-4003-a003-000000000004",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        780,
        200
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "2sFNFWT1cJPmliyb",
          "name": "Discord Reports Webhook"
        }
      }
    },
    {
      "parameters": {},
      "id": "d0a0a003-0003-4003-a003-000000000005",
      "name": "No New Requests",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "putAllInOneKey": false
      },
      "id": "globals-node",
      "name": "Globals",
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        130,
        300
      ],
      "credentials": {
        "globalConstantsApi": {
          "id": "kt9rQnvdyaBeZlR2",
          "name": "Homelab Constants"
        }
      }
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Check Pending Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Requests": {
      "main": [
        [
          {
            "node": "New Requests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Requests?": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
