n8n/workflows/overseerr-request-notifier.json
{
  "name": "Overseerr Request Notifier",
  "description": "Monitors Overseerr for new media requests. Sends Gotify notification with request details.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "d0a0a003-0003-4003-a003-000000000001",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get pending requests from Overseerr\nlet requests;\ntry {\n  requests = await this.helpers.httpRequest({\n    method: 'GET',\n    url: '${process.env.OVERSEERR_URL}/api/v1/request?take=20&filter=pending&sort=added',\n    headers: { 'X-Api-Key': process.env.OVERSEERR_API_KEY },\n    timeout: 15000\n  });\n} catch (err) {\n  return [{ json: { hasNew: false, error: err.message } }];\n}\n\nconst pending = requests.results || [];\n\nif (pending.length === 0) {\n  return [{ json: { hasNew: false } }];\n}\n\n// Get previously seen IDs from workflow static data\nconst staticData = this.getWorkflowStaticData('global');\nconst seenIds = staticData.seenRequestIds || [];\n\n// Find new requests\nconst newRequests = pending.filter(r => !seenIds.includes(r.id));\n\nif (newRequests.length === 0) {\n  return [{ json: { hasNew: false } }];\n}\n\n// Update seen IDs (keep last 100)\nconst allIds = [...seenIds, ...newRequests.map(r => r.id)];\nstaticData.seenRequestIds = allIds.slice(-100);\n\n// Format notification\nconst items = newRequests.map(r => {\n  const type = r.type === 'movie' ? '\ud83c\udfac' : '\ud83d\udcfa';\n  const title = r.media?.title || r.media?.name || 'Unknown';\n  const user = r.requestedBy?.displayName || r.requestedBy?.email || 'Unknown user';\n  return `${type} ${title} (requested by ${user})`;\n});\n\nreturn [{\n  json: {\n    hasNew: true,\n    count: newRequests.length,\n    title: `\ud83d\udccb ${newRequests.length} New Overseerr Request(s)`,\n    message: items.join('\\n'),\n    priority: 5\n  }\n}];"
      },
      "id": "d0a0a003-0003-4003-a003-000000000002",
      "name": "Check Pending Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-overseerr-001",
              "leftValue": "={{ $json.hasNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0a0a003-0003-4003-a003-000000000003",
      "name": "New Requests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOTIFY_URL }}/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Gotify-Key",
              "value": "={{ $env.GOTIFY_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, message: $json.message, priority: $json.priority || 5 }) }}",
        "options": {}
      },
      "id": "d0a0a003-0003-4003-a003-000000000004",
      "name": "Notify via Gotify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        200
      ]
    },
    {
      "parameters": {},
      "id": "d0a0a003-0003-4003-a003-000000000005",
      "name": "No New Requests",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        400
      ]
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Check Pending Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Requests": {
      "main": [
        [
          {
            "node": "New Requests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Requests?": {
      "main": [
        [
          {
            "node": "Notify via Gotify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
