n8n/workflows/plex-recently-added.json
{
  "name": "Plex Recently Added",
  "description": "Monitors Plex for recently added movies and TV episodes. Sends Gotify notification when new content is available.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "d0a0a004-0004-4004-a004-000000000001",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AM7xbizoMlhMEp8x",
          "mode": "list"
        }
      },
      "id": "plex-get-token",
      "name": "Get Plex Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check Plex recently added items (last 2 hours)\nconst env = $input.first().json;\nconst twoHoursAgo = Math.floor(Date.now() / 1000) - 7200;\n\nconst sections = [];\nlet totalNew = 0;\n\n// Get all library sections first\nlet libraries;\ntry {\n  const libResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${env.PLEX_URL}/library/sections`,\n    headers: { 'X-Plex-Token': env.PLEX_TOKEN, 'Accept': 'application/json' },\n    timeout: 15000\n  });\n  libraries = libResp?.MediaContainer?.Directory || [];\n} catch (err) {\n  return [{ json: { hasNew: false, error: err.message } }];\n}\n\nfor (const lib of libraries) {\n  try {\n    const recentResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${env.PLEX_URL}/library/sections/${lib.key}/recentlyAdded?X-Plex-Container-Start=0&X-Plex-Container-Size=20`,\n      headers: { 'X-Plex-Token': env.PLEX_TOKEN, 'Accept': 'application/json' },\n      timeout: 15000\n    });\n    const items = recentResp?.MediaContainer?.Metadata || [];\n    const newItems = items.filter(i => i.addedAt > twoHoursAgo);\n    \n    if (newItems.length > 0) {\n      totalNew += newItems.length;\n      const emoji = lib.type === 'movie' ? '🎬' : lib.type === 'show' ? '📺' : '🎵';\n      const itemList = newItems.map(i => {\n        if (lib.type === 'show') {\n          return `  • ${i.grandparentTitle || i.parentTitle || i.title} - ${i.title}`;\n        }\n        return `  • ${i.title}${i.year ? ` (${i.year})` : ''}`;\n      });\n      sections.push(`${emoji} ${lib.title} (${newItems.length} new):\\n${itemList.join('\\n')}`);\n    }\n  } catch (err) {\n    // Skip failed library\n  }\n}\n\nif (totalNew === 0) {\n  return [{ json: { hasNew: false } }];\n}\n\nreturn [{\n  json: {\n    hasNew: true,\n    title: `🎞️ ${totalNew} New Item(s) Added to Plex`,\n    message: sections.join('\\n\\n'),\n    priority: 3\n  }\n}];"
      },
      "id": "d0a0a004-0004-4004-a004-000000000002",
      "name": "Check Recently Added",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-plex-001",
              "leftValue": "={{ $json.hasNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0a0a004-0004-4004-a004-000000000003",
      "name": "New Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals').first().json.GOTIFY_URL }}/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, message: $json.message, priority: $json.priority || 5 }) }}",
        "options": {}
      },
      "id": "d0a0a004-0004-4004-a004-000000000004",
      "name": "Notify Gotify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hZM2wpBkhJwPJf32",
          "name": "Gotify API"
        }
      },
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {},
      "id": "d0a0a004-0004-4004-a004-000000000005",
      "name": "Nothing New",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "putAllInOneKey": false
      },
      "id": "globals-node",
      "name": "Globals",
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        0,
        500
      ],
      "credentials": {
        "globalConstantsApi": {
          "id": "kt9rQnvdyaBeZlR2",
          "name": "Homelab Constants"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plex Token": {
      "main": [
        [
          {
            "node": "Check Recently Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recently Added": {
      "main": [
        [
          {
            "node": "New Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Items?": {
      "main": [
        [
          {
            "node": "Notify Gotify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get Plex Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
