n8n/workflows/todoist-claude-immediate.json
{
  "name": "Todoist Claude Immediate",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "id": "tci-schedule",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "putAllInOneKey": false
      },
      "id": "tci-globals",
      "name": "Globals",
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "credentials": {
        "globalConstantsApi": {
          "id": "kt9rQnvdyaBeZlR2",
          "name": "Homelab Constants"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.todoist.com/api/v1/tasks?project_id={{ $('Globals').first().json.TODOIST_IMMEDIATE_PROJECT_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Globals').first().json.TODOIST_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "tci-fetch",
      "name": "Fetch Immediate Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst results = input.results || [];\n\n// Return each task as a separate item for individual processing\nconst tasks = results.filter(t => t.id && t.content);\n\nif (tasks.length === 0) {\n  return [{ json: { hasTasks: false } }];\n}\n\nreturn tasks.map(t => ({\n  json: {\n    hasTasks: true,\n    id: t.id,\n    content: t.content,\n    description: t.description || ''\n  }\n}));"
      },
      "id": "tci-split",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-tasks",
              "leftValue": "={{ $json.hasTasks }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tci-if-tasks",
      "name": "Tasks Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "resource": "command",
        "operation": "execute",
        "command": "={{ 'cd /home/snadboy/claude-inbox && claude -p \"' + $json.content.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') + '\" --output-format text --max-turns 10 --dangerously-skip-permissions' }}",
        "authentication": "privateKey",
        "options": {}
      },
      "id": "tci-ssh-claude",
      "name": "Claude Evaluate",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "n8816WsRbTEbFnjD",
          "name": "utilities SSH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Globals').first().json.DISCORD_REPORTS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [{ title: 'Claude Immediate: ' + $('Tasks Found?').first().json.content.substring(0, 100), description: ($json.stdout || $json.stderr || 'No response from Claude').substring(0, 4096), color: 3066993, footer: { text: 'From Todoist Claude-Immediate' }, timestamp: new Date().toISOString() }] }) }}",
        "options": {}
      },
      "id": "tci-discord",
      "name": "Discord Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.todoist.com/api/v1/tasks/' + $('Tasks Found?').first().json.id + '/close' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Globals').first().json.TODOIST_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tci-close-task",
      "name": "Close Todoist Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {},
      "id": "tci-noop",
      "name": "No Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Fetch Immediate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Immediate Tasks": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Tasks Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Found?": {
      "main": [
        [
          {
            "node": "Claude Evaluate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Evaluate": {
      "main": [
        [
          {
            "node": "Discord Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Report": {
      "main": [
        [
          {
            "node": "Close Todoist Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
