n8n/workflows/trash-pickup-scheduler.json
{
  "name": "Trash Pickup Scheduler",
  "description": "Creates weekly Google Calendar events on Anderson calendar for trash pickup. Runs Sunday 9 AM. Calls Trash Day Calc sub-workflow for date math, then creates calendar events and sends Discord notification. Webhook: /webhook/trash-pickup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 0"
            }
          ]
        }
      },
      "id": "trash-schedule-trigger",
      "name": "Every Sunday at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "trash-pickup",
        "responseMode": "responseNode"
      },
      "id": "trash-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        500
      ],
      "webhookId": "trash-pickup"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Trash pickup scheduler triggered"
      },
      "id": "trash-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "9pRyazs5XHc1OBxG",
          "mode": "list",
          "cachedResultName": "Trash Day Calc"
        }
      },
      "id": "trash-exec-workflow",
      "name": "Compute Trash Day",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const creds = $('Globals').first().json;\nconst trashDay = $input.first().json;\n\nconst EVENT_TITLE = creds.TRASH_EVENT_TITLE || 'Trash prep day';\n\nconst tokenBody = `client_id=${encodeURIComponent(creds.GOOGLE_CLIENT_ID)}&client_secret=${encodeURIComponent(creds.GOOGLE_CLIENT_SECRET)}&refresh_token=${encodeURIComponent(creds.GOOGLE_REFRESH_TOKEN)}&grant_type=refresh_token`;\nconst tokenResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  body: tokenBody,\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' }\n});\nconst accessToken = tokenResp.access_token;\n\nconst CALENDAR_ID = '52pai5sgrbqhh12h7mv1o3rb08@group.calendar.google.com';\n\nfunction formatDate(d) {\n  return `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}-${String(d.getDate()).padStart(2,'0')}`;\n}\n\nfunction addDays(dateStr, n) {\n  const d = new Date(dateStr + 'T00:00:00');\n  d.setDate(d.getDate() + n);\n  return formatDate(d);\n}\n\nconst takeOutDateStr = trashDay.takeOutDate;\nconst nextDateStr = addDays(takeOutDateStr, 1);\n\nconst events = [];\nevents.push({\n  summary: EVENT_TITLE,\n  start: { date: takeOutDateStr },\n  end: { date: nextDateStr },\n  reminders: { useDefault: false, overrides: [{ method: 'popup', minutes: 540 }] }\n});\n\nif (trashDay.delayed) {\n  // Create a delay notice event on the default (non-delayed) take-out day\n  const defaultTakeOutDate = addDays(trashDay.pickupDate, -2);\n  const defaultPickupDate = addDays(trashDay.pickupDate, -1);\n  events.push({\n    summary: `Trash delay due to ${trashDay.holiday}`,\n    start: { date: defaultTakeOutDate },\n    end: { date: defaultPickupDate },\n    reminders: { useDefault: false }\n  });\n}\n\nconst results = [];\nfor (const event of events) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(CALENDAR_ID)}/events`,\n      headers: { 'Authorization': `Bearer ${accessToken}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify(event)\n    });\n    results.push(`Created: ${event.summary} on ${event.start.date}`);\n  } catch (err) {\n    results.push(`Error creating '${event.summary}': ${err.message}`);\n  }\n}\n\nlet summary = `Trash Pickup Schedule (week of ${trashDay.weekOf})\\n`;\nsummary += `Default pickup day: Friday\\n`;\nif (trashDay.delayed) {\n  summary += `Holiday: ${trashDay.holiday}\\n`;\n  summary += `Delayed pickup: ${trashDay.pickupDay} ${trashDay.pickupDate}\\n`;\n}\nsummary += `Take out trash: ${trashDay.takeOutDay} ${trashDay.takeOutDate}\\n\\n`;\nsummary += results.join('\\n');\n\nreturn [{ json: { title: 'Trash Pickup', message: summary, priority: 3 } }];"
      },
      "id": "trash-calendar-code",
      "name": "Code: Create Calendar Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        560
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "resource": "webhook",
        "operation": "sendLegacy",
        "content": "",
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={{ JSON.stringify({ title: $json.title, description: $json.message, color: ($json.priority || 3) >= 7 ? 15158332 : ($json.priority || 3) >= 5 ? 16776960 : 3066993, timestamp: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trash-gotify-notify",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1100,
        560
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "2sFNFWT1cJPmliyb",
          "name": "Discord Reports Webhook"
        }
      }
    },
    {
      "parameters": {
        "putAllInOneKey": false
      },
      "id": "globals-node",
      "name": "Globals",
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        440,
        560
      ],
      "credentials": {
        "globalConstantsApi": {
          "id": "kt9rQnvdyaBeZlR2",
          "name": "Homelab Constants"
        }
      }
    }
  ],
  "connections": {
    "Every Sunday at 9 AM": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Trash Day": {
      "main": [
        [
          {
            "node": "Code: Create Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Create Calendar Events": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Compute Trash Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
